.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  position: relative;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  height: 100vh;
  /* выше установили ограничения для секции */
}

.logo {
  width: 228px;
  height: 32px;
}
.logo_place_header {
  position: absolute;
  top: 30px;

  left: 64px;

  z-index: 3;
}

.header__title {
  margin: 0 0 0 64px;
  max-width: 730px;

  z-index: 4;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  color: #000000;
}

.header__subtitle {
  position: absolute;
  max-width: 388px;
  bottom: 30px;
  left: 64px;
  margin: 0;
  z-index: 3;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  color: #000000;
}

.header__link {
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  list-style: none;
  color: #2f80ed;
  text-decoration: none;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.header__main-illustration {
  position: absolute;
  bottom: 0;
  z-index: 1;
  right: 0;
  height: 608px;
  width: 765px;
}
.header__square-pic {
  position: absolute;
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  top: 64px;
  right: 0px;
}

/* и элемента с модификатором вида ключ-значение */

/* Header end*/

/*description start*/
.description {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;

  margin: 0 auto;
}
.two-columns__brief {
  margin: 0;
  max-width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 300;
  color: #2f80ed;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 30px;
}
.two-columns__paragraph:last-child {
  margin-bottom: 0px;
}
.two-columns__span-accent {
  font-weight: 600;
}
/*description end*/

/* digits start */

.digits {
  padding-bottom: 100px;
}
.section-title {
  max-width: 60%;
  margin: 0 auto;

  margin-bottom: 20px;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
  text-align: center;
}

.section-subtitle {
  margin: 0 auto;
  max-width: 60%;
  text-align: center;

  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.table {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  z-index: 33;
  margin-top: 60px;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}
.table__text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 0;
}

/* digits end*/

/*feyman start */
.feynman {
  box-sizing: border-box;
  min-height: 890px;
  position: relative;
  padding-top: 100px;
  background-color: #f2f2f2;
}

.feynman__title {
  position: relative;
  max-width: 648px;
  text-align: center;
  z-index: 33;
  margin: 0 auto;

  
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  position: relative;
  z-index: 33;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  height: 51px;
  font-weight: 300;
  margin-top: 70px;
  margin-bottom: 0;
}

.feynman__link {
  position: absolute;
  z-index: 5;
  right: 48px;
  top: 50%;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: 300;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
  z-index: 1;
}
/* feyman end */

/* kaufman start */
.kaufman {
  box-sizing: border-box;
  padding: 90px 0;
  overflow: hidden;
  position: relative;
  background-color: #1f1f1f;
}
.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  
  top: 0;
  right: -210px;
}

.table_theme_dark {
  position: relative;
  z-index: 5;
  color: white;
}

/* kaufman end */

/* footer start */

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  display: flex;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  width: 90%;

  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__author {
  color: white;
  padding-top: 18px;
  padding-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}

.footer__column {
  display: flex;

  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;

  justify-content: space-between;
}

.footer__column-heading {
  color: white;
  padding-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.footer__column-links {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}
.footer__column-link {
  display: flex;
  align-items: center;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

/* footer end */
